<ion-view>
    <ion-nav-title class="title">Home</ion-nav-title>
    <ion-content class="padding">
        <p><b>ID: </b>{{user.id}}</p>
        <p><b>NOME: </b>{{user.name}}</p>
        <p><b>E-MAIL: </b>{{user.email}}</p>
        <p><b>PAPEL: </b>{{user.role}}</p>

    </ion-content>
</ion-view>
