<ion-view>
    <ion-nav-title class="title">Pedido Realizado com sucesso</ion-nav-title>
    <div class="bar bar-balanced bar-subheader">
        <h2 class="title">Total: R$ {{total.toFixed(2)}}</h2>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item class="item-dark" ng-show="cupom.value != null">
                <strong>Cupom</strong>
                <span class="badge badge-dark ">  R$ - {{cupom.value.toFixed(2)}}</span>
            </ion-item>
            <ion-item ng-repeat="o in items">
                <h2> {{ o.name }}</h2>
                <div class="row">
                    <div class="col">
                        Qtd: {{o.qtd}}<br>
                        <i class="ion ion-cash"> {{ o.price.toFixed(2) }}</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{ (o.qtd * o.price).toFixed(2) }}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <button type="button" class="button button-royal button-full" ng-click="openListOrder()">
            Ver meus pedidos
        </button>
    </ion-content>
</ion-view>