<ion-view>
    <ion-nav-title class="title">Pedido: #{{order.id}}</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title"> Total: R$ {{order.total.toFixed(2)}}</h2>
    </div>
    <ion-content class="padding has-subheader">
        <div class="item item-divider">
            Data da compra: {{order.created_at.date|limitTo: 10|date: 'dd/MM/yyyy'}}
        </div>
        <ion-list>
            <ion-item ng-repeat="item in order.items.data">
                <h2>{{item.product.data.name}}</h2>
                <div class="row">
                    <div class="col">
                        Qtd: {{item.qtd}} <br>
                        <i class="ion ion-cash"> {{item.price.toFixed(2)}}</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{(item.qtd * item.price).toFixed(2)}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-marker idkey="o.id" coords="o.coords" options="o.options" ng-repeat="o in markers">

            </ui-gmap-marker>
        </ui-gmap-google-map>
    </ion-content>
</ion-view>

<style type="text/css">
    .angular-google-map-container {
        height: 400px;
    }
</style>